.cookie-banner-section {
  background: #8023aa;
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1262px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cookie-banner-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fffee7;
  margin-bottom: 40px;

  @include media(desktop) {
    text-align: left;
    max-width: 622px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 32px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
  }
}

.cookie-accept-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffee7;
  border-radius: 28px;
  padding: 16px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #8023aa;
  width: 100%;
  max-width: 256px;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}

.cookie-decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fffee7;
  border-radius: 28px;
  padding: 16px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #baf3ed;
  width: 100%;
  max-width: 256px;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}

.show-cookie-banner {
  display: block;
}
