.cta-section {
  @include media(desktop) {
  }
}

.cta-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/cta/cta-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 35px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/cta/cta-bg-desk.png);
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-content-wrapper {
  @include media(desktop) {
  }
}

.cta-text-wrapper {
  @include media(desktop) {
  }
}

.cta-title {
  text-align: center;

  @include media(desktop) {
  }
}

.cta-subtitle {
  text-align: center;

  @include media(desktop) {
  }
}

.cta-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0f227b;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 48px;
  }
}

.cta-btn {
  @include media(desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}
