.features-section {
  background: #8023aa;

  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-text-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  text-align: center;
  color: #fffee7;

  @include media(desktop) {
  }
}

.features-subtitle {
  text-align: center;
  color: #fffee7;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.features-top-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fffee7;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-bottom: 24px;
  }
}

.features-list-item {
  background: linear-gradient(180deg, #bca7e3 0%, #fbf5d4 100%);
  border-radius: 24px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 352px;
  }
}

.puzzle-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #8023aa;
  max-width: 195px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 224px;
  }
}

.features-bottom-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fffee7;

  @include media(desktop) {
    font-size: 18px;
  }
}
