.variety-section {
  @include media(desktop) {
  }
}

.variety-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/variety/variety-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 351px right;
  background-size: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/variety/variety-bg-desk.png);
    background-position: top 9px right 515px;
  }
}

.variety-container {
  @include media(desktop) {
  }
}

.variety-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.variety-text-wrapper {
  @include media(desktop) {
    max-width: 544px;
    margin-top: 80px;
  }
}

.variety-title {
  @include media(desktop) {
  }
}

.variety-subtitle {
  @include media(desktop) {
  }
}

.variety-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0f227b;

  @include media(desktop) {
    font-size: 18px;
  }
}

.variety-top-text {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.variety-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.variety-list-item {
  padding-left: 7px;
  display: flex;
  align-items: center;
  gap: 7px;

  @include media(desktop) {
  }
}

.variety-item-circle {
  background: #20ff00;
  border-radius: 100%;
  min-width: 10px;
  width: 10px;
  height: 10px;

  @include media(desktop) {
  }
}

.variety-item-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #0f227b;

  @include media(desktop) {
    font-size: 20px;
  }
}

.variety-bottom-text {
  @include media(desktop) {
  }
}

.variety-img {
  @include media(desktop) {
    min-width: 448px;
  }
}
