.world-section {
  @include media(desktop) {
  }
}

.world-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.world-container {
  @include media(desktop) {
    padding-right: 130px;
  }
}

.world-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.world-text-wrapper {
  @include media(desktop) {
    max-width: 574px;
  }
}

.world-title {
  @include media(desktop) {
    max-width: 544px;
  }
}

.world-subtitle {
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.world-top-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #8023aa;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 544px;
    margin-bottom: 24px;
  }
}

.world-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.world-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.puzzle-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}

.world-item-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #8023aa;

  @include media(desktop) {
    font-size: 20px;
  }
}

.world-bottom-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #8023aa;

  @include media(desktop) {
    font-size: 18px;
    max-width: 544px;
  }
}

.world-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 500px;
  }
}
