<section class="section advantages-section" id="advantages">
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <div class="advantages-content-wrapper">
        <div class="advantages-text-wrapper">
          <h2 class="section-title advantages-title">
            A BRAIN TEASER WITH FLOW
          </h2>
          <p class="advantages-top-text">GoodWay improves:</p>
          <ul class="advantages-list">
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="advantages-item-text">Logical sequencing</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="advantages-item-text">Forward planning</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="advantages-item-text">Pattern recognition</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="advantages-item-text">Strategic positioning</p>
            </li>
          </ul>
          <p class="advantages-bottom-text">
            When you clear everything, the background lights up - it's actually
            pretty satisfying!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
