<section class="section atmosphere-section" id="atmosphere">
  <div class="atmosphere-bg-wrapper">
    <div class="container atmosphere-container">
      <div class="atmosphere-content-wrapper">
        <div class="atmosphere-text-wrapper">
          <h2 class="section-title atmosphere-title">A CALMING ATMOSPHERE</h2>
          <p class="section-subtitle atmosphere-subtitle">
            Relaxing Light & Sound
          </p>
          <picture>
            <source
              srcset="./img/atmosphere/atmosphere-img-desk.png"
              media="(min-width: 1440px)"
              width="500"
              height="430" />
            <source
              srcset="./img/atmosphere/atmosphere-img-mob.png"
              width="343"
              height="295" />
            <img
              class="atmosphere-img"
              src="./img/atmosphere/atmosphere-img-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="295"
              loading="lazy"
          /></picture>
          <p class="atmosphere-top-text">
            What makes it so relaxing? Well, there's:
          </p>
          <ul class="atmosphere-list">
            <li class="atmosphere-list-item">
              <p class="atmosphere-item-text">Soft color palettes</p>
            </li>
            <li class="atmosphere-list-item">
              <p class="atmosphere-item-text">Gentle gemstone glow</p>
            </li>
            <li class="atmosphere-list-item">
              <p class="atmosphere-item-text">Minimalistic design</p>
            </li>
            <li class="atmosphere-list-item">
              <p class="atmosphere-item-text">Peaceful background music</p>
            </li>
          </ul>
          <p class="atmosphere-bottom-text">
            Playing it feels like taking a breather - relaxing but still
            engaging.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
