<section class="section audience-section" id="audience">
  <div class="audience-bg-wrapper">
    <div class="container audience-container">
      <div class="audience-content-wrapper">
        <h2 class="section-title audience-title">Who is it For?</h2>
        <picture>
          <source
            srcset="./img/audience/audience-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="676" />
          <source
            srcset="./img/audience/audience-img-mob.png"
            width="343"
            height="517" />
          <img
            class="audience-img"
            src="./img/audience/audience-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="517"
            loading="lazy"
        /></picture>
        <p class="audience-text audience-top-text">
          Fun Puzzle Master is perfect for:
        </p>
        <ul class="audience-list">
          <li class="audience-list-item">
            <div class="audience-item-circle"></div>
            <p class="audience-item-text">Casual puzzle players</p>
          </li>
          <li class="audience-list-item">
            <div class="audience-item-circle"></div>
            <p class="audience-item-text">Beginners.</p>
          </li>
          <li class="audience-list-item">
            <div class="audience-item-circle"></div>
            <p class="audience-item-text">Adults seeking relaxation</p>
          </li>
          <li class="audience-list-item">
            <div class="audience-item-circle"></div>
            <p class="audience-item-text">
              Players who enjoy light brain games
            </p>
          </li>
          <li class="audience-list-item">
            <div class="audience-item-circle"></div>
            <p class="audience-item-text">
              Anyone who loves simple, satisfying mechanics
            </p>
          </li>
        </ul>
        <p class="audience-text audience-bottom-text">
          It’s calm, focused, and easy to enjoy.
        </p>
      </div>
    </div>
  </div>
</section>
