<section class="section bonuses-section" id="bonuses">
  <div class="bonuses-bg-wrapper">
    <div class="container bonuses-container">
      <div class="bonuses-content-wrapper">
        <div class="bonuses-text-wrapper">
          <h2 class="section-title bonuses-title">BONUSES & HELPERS</h2>
          <p class="section-subtitle bonuses-subtitle">
            Gentle Support When Needed
          </p>
          <p class="bonuses-top-text">
            Bonuses can assist you when the board becomes complex.<br />
            They help:
          </p>
          <ul class="bonuses-list">
            <li class="bonuses-list-item">
              <p class="bonuses-item-text">Clear difficult sections</p>
            </li>
            <li class="bonuses-list-item">
              <p class="bonuses-item-text">Improve scoring potential</p>
            </li>
            <li class="bonuses-list-item">
              <p class="bonuses-item-text">Unlock smoother progression</p>
            </li>
          </ul>
          <p class="bonuses-bottom-text">
            Internet connection is required during gameplay to receive bonus
            offers.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/bonuses/bonuses-img-desk.png"
            media="(min-width: 1440px)"
            width="500"
            height="393" />
          <source
            srcset="./img/bonuses/bonuses-img-mob.png"
            width="343"
            height="270" />
          <img
            class="bonuses-img"
            src="./img/bonuses/bonuses-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="270"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
