<section class="section challenge-section" id="challenge">
  <div class="challenge-bg-wrapper">
    <div class="container challenge-container">
      <div class="challenge-content-wrapper">
        <div class="challenge-text-wrapper">
          <h2 class="section-title challenge-title">PROGRESSIVE CHALLENGE</h2>
          <p class="section-subtitle challenge-subtitle">100 Basic Levels</p>
          <p class="challenge-top-text">
            Each world contains structured levels that gradually increase in
            complexity.<br />
            You’ll encounter:
          </p>
          <ul class="challenge-list">
            <li class="challenge-list-item">
              <p class="challenge-item-text">Tighter grid management</p>
            </li>
            <li class="challenge-list-item">
              <p class="challenge-item-text">More strategic path planning</p>
            </li>
            <li class="challenge-list-item">
              <p class="challenge-item-text">Increasing puzzle depth</p>
            </li>
          </ul>
          <p class="challenge-bottom-text">
            It stays pretty zen even when the puzzles get trickier and really
            make you think.
          </p>
        </div>
        <img
          class="challenge-img"
          src="./img/challenge/challenge-img-desk.png"
          alt="Screenshot of the game"
          width="500"
          height="481"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
