<section class="section challenges-section" id="challenges">
  <div class="challenges-bg-wrapper">
    <div class="container challenges-container">
      <div class="challenges-content-wrapper">
        <div class="challenges-text-wrapper">
          <h2 class="section-title challenges-title">Light Challenges</h2>
          <p class="section-subtitle challenges-subtitle">
            Simple but Engaging
          </p>
          <p class="challenges-text challenges-top-text">
            Some levels include additional challenges to keep things
            interesting.<br />
            You’ll need:
          </p>
          <ul class="challenges-list">
            <li class="challenges-list-item">
              <div class="challenges-item-circle"></div>
              <p class="challenges-item-text">Careful observation</p>
            </li>
            <li class="challenges-list-item">
              <div class="challenges-item-circle"></div>
              <p class="challenges-item-text">Logical thinking</p>
            </li>
            <li class="challenges-list-item">
              <div class="challenges-item-circle"></div>
              <p class="challenges-item-text">Step-by-step planning</p>
            </li>
          </ul>
          <p class="challenges-text challenges-bottom-text">
            Every move matters — but never feels stressful.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/challenges/challenges-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="661" />
          <source
            srcset="./img/challenges/challenges-img-mob.png"
            width="343"
            height="506" />
          <img
            class="challenges-img"
            src="./img/challenges/challenges-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="506"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
