<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <h2 class="section-title cta-title">Discover the Way of Gemstones</h2>
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <p class="section-subtitle cta-subtitle">
            Draw your path.<br />
            Match the crystals.<br />
            Clear the grid.
          </p>
          <p class="cta-top-text">
            Download GoodWay, way of gemstones and enjoy a peaceful puzzle
            journey.
          </p>
          <a
            class="hero-cta-link cta-btn"
            href="https://play.google.com/store/apps/details?id=com.ummundi.game.puzzle.goodway&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-download-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
            ><span class="header-cta-link-span">Download Now</span></a
          >
        </div>
        <div class="cta-contact-wrapper">
          <p class="cta-contact-title">Contact & Support</p>
          <p class="cta-bottom-text">
            Have questions or feedback?<br />
            <a class="cta-email-link" href="mailto:info@softfieldway.pro"
              >info@softfieldway.pro</a
            ><br />
            We appreciate your thoughts and suggestions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
