<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">
            Calm & Soothing Experience
          </h2>
          <p class="section-subtitle features-subtitle">
            Designed for Relaxation
          </p>
          <p class="features-text features-top-text">
            We got rid of all the annoying stuff that makes other puzzle apps
            frustrating.
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">No overwhelming features.</p>
            </li>
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">No confusing menus.</p>
            </li>
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">No pressure.</p>
            </li>
          </ul>
          <p class="features-text features-bottom-text">
            Just clean visuals, smooth movement, and satisfying puzzle
            completion.<br />
            Great for when you need to zone out after work.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="647" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="495" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="495"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
