<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">A NEW MATCH GENRE</h2>
          <p class="section-subtitle features-subtitle">
            Not Your Classic Match Game
          </p>
          <p class="features-top-text">
            GoodWay blends path drawing with strategic placement.<br />
            Unlike traditional match games:
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="features-item-text">
                You control placement via drawn paths
              </p>
            </li>
            <li class="features-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="features-item-text">Gem order changes dynamically</p>
            </li>
            <li class="features-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-gem"></use>
              </svg>
              <p class="features-item-text">Grid management is crucial</p>
            </li>
          </ul>
          <p class="features-bottom-text">
            The challenge lies in thinking ahead and maximizing matches to clear
            the board efficiently.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
