<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">
            A Simple New Way to Puzzle
          </h2>
          <p class="section-subtitle gameplay-subtitle">
            Tap-Based Jigsaw Gameplay
          </p>
          <p class="gameplay-text gameplay-top-text">
            Unlike traditional drag-and-drop puzzles, Fun Puzzle Master uses
            simple tap controls.
          </p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Tap to select a piece</p>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Move it into position</p>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Complete the image gradually</p>
            </li>
          </ul>
          <p class="gameplay-text gameplay-bottom-text">
            It's simple enough that anyone can pick it up, but you still need to
            pay attention to get the pieces right.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="676" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="517" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="517"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
