<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">HOW TO PLAY</h2>
        <p class="section-subtitle gameplay-subtitle">
          Simple Rule. Deep Strategy.
        </p>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="500"
            height="536" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="368" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="368"
            loading="lazy"
        /></picture>
        <p class="gameplay-list-text">
          It's pretty simple once you get the hang of it:
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-diamond"></use>
            </svg>
            <p class="gameplay-item-text">
              Slide your finger across empty squares
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-diamond"></use>
            </svg>
            <p class="gameplay-item-text">Place gems in the drawn path</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-diamond"></use>
            </svg>
            <p class="gameplay-item-text">
              Match at least two identical crystals
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-diamond"></use>
            </svg>
            <p class="gameplay-item-text">Clear the grid completely</p>
          </li>
        </ul>
        <p class="gameplay-text">
          At the top of the grid, you’ll see the gemstone sequence. Each time
          you complete a line, the order changes, requiring you to adapt and
          plan carefully.<br />
          Each move you make affects what happens next, so you've gotta think
          ahead.
        </p>
      </div>
    </div>
  </div>
</section>
