<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay">Gameplay</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#world">Worlds</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features">Features</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
  </nav>
</div>
