<section class="section variety-section" id="variety">
  <div class="variety-bg-wrapper">
    <div class="container variety-container">
      <div class="variety-content-wrapper">
        <div class="variety-text-wrapper">
          <h2 class="section-title variety-title">Variety of Images</h2>
          <p class="section-subtitle variety-subtitle">
            New Pictures to Discover
          </p>
          <p class="variety-text variety-top-text">
            Each level presents a new unfinished image.
          </p>
          <ul class="variety-list">
            <li class="variety-list-item">
              <div class="variety-item-circle"></div>
              <p class="variety-item-text">Colorful scenes</p>
            </li>
            <li class="variety-list-item">
              <div class="variety-item-circle"></div>
              <p class="variety-item-text">Clean layouts</p>
            </li>
            <li class="variety-list-item">
              <div class="variety-item-circle"></div>
              <p class="variety-item-text">Different puzzle structures</p>
            </li>
          </ul>
          <p class="variety-text variety-bottom-text">
            Completion feels smooth and rewarding every time.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/variety/variety-img-desk.png"
            media="(min-width: 1440px)"
            width="448"
            height="673" />
          <source
            srcset="./img/variety/variety-img-mob.png"
            width="343"
            height="515" />
          <img
            class="variety-img"
            src="./img/variety/variety-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="515"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
