<section class="section world-section" id="world">
  <div class="world-bg-wrapper">
    <div class="container world-container">
      <div class="world-content-wrapper">
        <div class="world-text-wrapper">
          <h2 class="section-title world-title">FIVE BEAUTIFUL WORLDS</h2>
          <p class="section-subtitle world-subtitle">
            A Journey Through Landscapes
          </p>
          <p class="world-top-text">
            Each world introduces new visual themes and subtle gameplay
            variations:
          </p>
          <ul class="world-list">
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-palm-tree"></use>
              </svg>
              <p class="world-item-text">Paradise Island</p>
            </li>
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-leafless-tree"></use>
              </svg>
              <p class="world-item-text">The Savanna</p>
            </li>
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-hyacinth"></use>
              </svg>
              <p class="world-item-text">Lavender Fields</p>
            </li>
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-cherry-blossom"></use>
              </svg>
              <p class="world-item-text">Cherry Blossom Forest</p>
            </li>
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-snowflake"></use>
              </svg>
              <p class="world-item-text">Polar Landscape</p>
            </li>
            <li class="world-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-cactus"></use>
              </svg>
              <p class="world-item-text">Sand Desert (Coming Soon)</p>
            </li>
          </ul>
          <p class="world-bottom-text">
            Every setting offers soft colors, relaxing ambiance, and a fresh
            puzzle environment.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/world/world-img-desk.png"
            media="(min-width: 1440px)"
            width="500"
            height="631" />
          <source
            srcset="./img/world/world-img-mob.png"
            width="343"
            height="433" />
          <img
            class="world-img"
            src="./img/world/world-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="433"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
